*{
  font-family: cursive;
}

$background:#635bd4;
$keyboard-color: #a8dcfa;
$keyboard-label:grey;
$black-key:black;
$black-key-shade:rgb(112, 112, 112);
$white-key:white;
$white-key-shade:rgb(207, 207, 207);
$black-key-width:30px;
$black-key-height:100px;
$white-key-width:40px;
$white-key-height:140px;

body{
  margin:0;
  padding:0;
  background-color:black;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.res{
  display:none;
}
.container{
  margin:0 auto;
  position:absolute;
  display:flex;
  bottom:40%;
}
.container h2{
  position: absolute;
  margin-top: -24%;
  margin-left: 32%;
  color:white;
  font-size: 40px;
  text-shadow: 4px 4px #90ccf4;
}
#blank1{
  position:absolute;
  width: 100px;
  height: 100px;
  background-color:#90ccf4;
  border-radius: 50%;
  margin-top: -20%;
  margin-left: -80%;
  box-shadow: 0 10px 25px 0 #a8dcfa;
}
#blank2{
  position:absolute;
  width: 120px;
  height: 120px;
  background-color:#90ccf4;
  border-radius: 50%;
  margin-top: -20%;
  margin-left: 80%;
  box-shadow: 0 10px 25px 0 #a8dcfa;
}
.keyboard{
  background-color: $keyboard-color;
  padding:20px;
  padding-top: 70px;
  border-radius: 20px 20px 40px 40px;
  font-size: 12px;
  font-weight: 400;
  box-shadow: 0 10px 25px 0 #a8dcfa;
}
.keyboard_attributes{
  position:absolute;
  display:grid;
  grid-template-columns: 20% 60% 20%;
  margin-top: -80px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.center img{
  border-radius: 10px;
}
.keyboard button{
  margin:0px;
  padding:0px;
  outline:none;
  border:none;
  border-radius: 20px 20px 40px 40px;
  // color:$keyboard-label;
  transition: all 100ms ease-out;
  padding-top: 100px;
}
.white-key{
  width:$white-key-width;
  height: $white-key-height;
  margin:1px;
  box-shadow: inset $white-key-shade 0 -10px 0 0;
  cursor: pointer;
  color:$keyboard-label;
}
.white-key:active{
  transform: translate(0,4px);
  box-shadow: inset #E6F1E6 0 -2px 0 0;
}
.black-key{
  position: absolute;
  width:$black-key-width;
  height: $black-key-height;
  background-color: $black-key;
  z-index: 99;
  cursor:pointer;
  transform: translate($black-key-width*-.5, -10px);
  box-shadow: inset #3a3a3a 0 -10px 0 0, #90ccf4 0 0 0 2px;
  color:white;
}
.black-key:active{
  transform: translate($black-key-width*-.5, -2px);
  height: calc(90px - 8px);
}

.color_picker{
  margin-top: 30%;
  text-align: center;
}
.color_picker button{
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
.color_picker button:hover{
  transform: scale(1.2,1.2);
}

@media only screen and (max-width:600px){
  .container{
    margin-bottom: -20%;
  }
   .res{
     display: block;
   }
   .color_picker{
    margin-top: 100%;
  }
  .container h2{
    margin-top: -70px;
    margin-left: 18%;
  }
  #blank1{
    width:15%;
    height:15%;
  }
  #blank2{
    width:18%;
    height:18%;
  }
  .keyboard{
    padding-top: 80px;
  }
  .keyboard_attributes{
    grid-template-columns: 30% 30%;
    grid-gap:35%;
    margin-top: -90px;
  }
  .keyboard_attributes div img{
    width:100%;
  }
  .center{
    display: none;
  }
}
@media only screen and (max-width: 360px) {
  .container h2 {
    margin-top: -20%;
    margin-left:11%;
  }
  .keyboard{
    padding:15px;
  }
  .keyboard_attributes{
    display:none;
  }
  .color_picker{
    margin-top:120%;
  }
  .color_picker button{
    font-size:12px;
  }  
}
